alabaster==0.7.12
Babel==2.8.0
docutils==0.16
hieroglyph==1.0.0
Jinja2==2.11.1
MarkupSafe==1.1.1
pdfrw==0.4
Pillow==7.0.0
Pygments==2.6.1
pytz==2019.3
reportlab==3.5.42
rst2pdf==0.96
six==1.14.0
smartypants==2.0.1
snowballstemmer==2.0.0
Sphinx==1.3
sphinx-rtd-theme==0.1.9
